
<div class="w3-margin" ng-controller="HomeController">



    <br>
    <p>This is the <i>home</i> page.</p>
    <p>Please select your region and server [not implemented]</p>
    <p>
        Then start creating new recipes in the "New recipes" tab.
    </p>


    <br><br>








    <br><br>

<!--     <button ng-click="gotopage2()"
            type="button" class="w3-btn w3-red w3-round-small">
        Go to Page 2!
    </button>

    <button ng-click="gotopage3()"
            type="button" class="w3-btn w3-red w3-round-small">
        Go to Page 3!
    </button> -->

</div>
